@import url(http://fonts.googleapis.com/css?family=Work+Sans:400,300,900,500);

* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: #282828;
}

.container {
  margin: auto;
  width: 375px;
  background-color: white;
  min-height: 100vh;
}